<html>
	<head>
		<title>Quản lí USB</title>

	
	<script src="socket.io/socket.io.js"></script>
	<script src="jquery.js"></script>
	<script src="xuli.js"></script>
	<link rel="stylesheet" href="layout.css" type="text/css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>  

    <script src="/js/bootstrap.min.js"></script>
  

	
	

	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<!-- <a class="navbar-brand" href="#">USB DETECTION</a> -->
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="#">USB DETECTION</a>
					</li>
					<li class="active" id="info">
						<a href="#">INFORMATION</a>
					</li>
				</ul>
			</div>
		</nav>

		<div class="container-fluid">
			
		
		<div id="left">
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				

				<table class="table table-condensed table-hover">
			<thead>
				<tr>
					<th>Danh sách Client</th>
				</tr>
			</thead>
			<tbody id="listclient">
				
			</tbody>
		</table>
			</div>
			<div id="thongbao"></div>



		</div>
		<div id="right">
			
			
			

		</div>

		</div>
		

		
		
	</body>

</html>
